certifi==2020.6.20
cffi==1.15.1
chardet==3.0.4
cryptography==36.0.2
docopt==0.6.2
gitdb==4.0.5
GitPython==3.1.3
idna==2.10
iOSAppInfoParser==1.0.6
iOSReSignApp==1.5.4
isim==12.0.0
openstep-parser==1.5.3
pbxproj==3.2.3
Pillow==9.2.0
pycparser==2.21
PyMobileProvision==1.4.3
requests==2.24.0
smmap==3.0.4
tqdm==4.47.0
urllib3==1.25.9
ds_opencc==1.1.11
PyYAML==6.0.1




